.deviceitem{
    width: 70%; /* Ширина */
    float: left; /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 3.5%; /* Отступ слева */
    border-radius: 5px; /* Радиус скругления */
    height: 90%;
}